@import "../vars.scss";

:root{
    scroll-behavior: smooth;
}

main{
    height: 100%;
}

.container{
    position: absolute;
    left: 16%;
    width: 100%;
    max-width: 1280px;
    min-height: 80vh;
    margin: 10vh auto;
    margin-top: 5vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.753);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(0, 0, 0, 0.25);

}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 16px;
    margin: 10px;
}

::-webkit-scrollbar-track{
    margin: 1%;
    background: #333;
    border-radius: 16px;
}

::-webkit-scrollbar {
    width: 10px;
}

.cols{
    display: grid;
    grid-template-columns: 33.33% 66.66%;
    height: 80vh;
    width: 100%;
    border-radius: 16px;
}

.col{
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 2rem;
    overflow: hidden;
}

.col:first-child{
    border-right: 1px solid rgba(255, 255, 255, 0.329);
    width: 100%;
}

.madeBy{
    height: 77%;
    display: flex;
    flex-direction: column;

    p{
        color: gray;
        justify-self: start;
        margin-top: auto;
    }
}

.titulo{
    color: white;
    font-family: $body-font;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10%;
    text-align: center;

    div {
        font-size: 45px;
        font-weight: 500;
    }

    p{
        font-family: $body-font;
        font-size: 20px;
        font-weight: 600;
    }
}

.social{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;  

    .linkedin, .github{
        width: 50px !important;
        font-size: 22px;
        color: gray;
        transition: color 0.2s ease;
    }

    .linkedin:hover{
        color:#0e76a8;
    }

    .github:hover{
        color: #171515;
    }
    
}

.download{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 35%;
    padding: 10px;
    color: white;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    -webkit-box-shadow: 12px 12px 1px 0px rgba(0,0,0,0.92); 
    box-shadow: 12px 12px 1px 0px rgba(0,0,0,0.92);
    transition: all 0.2s ease-in-out;
    width: 50%;
    cursor:pointer;
    font-family: $body-font;
}

.download:hover{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.92);
    border:1px solid rgba(0, 0, 0, 0.233);
    background: white;
    color: black;
}

.modal_background{
    display: block;
    position: absolute;
    top:0%;
    left: 0%;
    height: 1080px;
    width: 1920px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    transition: all 0.5s ease;
}

.modal{
    position: absolute;
    background: rgba(0, 0, 0, 0.753);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid white;
    z-index: 10000;
    top: 25%;
    left: 20%;
    border-radius: 16px;
    width: 30%;
    height: 150px;
    transition: all 0.5s ease;

    .modal_body{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 20px 1fr;
        gap: 15px;

        .close{
            color: white;
            display: inline-block;
            width: 100%;

            button{
                float: right;
                padding: 2%;
                color: white;
                background: transparent;
                font-size: 15px;
                border: none;
                cursor: pointer;
            }
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
            height: 100%;

            a{
                text-decoration: none;
                color: white;
                border: 1px solid white;
                border-radius: 20px;
                width: 20%;
                text-align: center;
                padding: 5px;
                display: inline-block;
                transition: all 0.2s ease;

                &:hover{
                    background: white;
                    color: #333;
                    border: 1px solid #333;
                }
            }
        }
    }
}

//mobile

.wrapper{
    width: 100%;
    height: 100%;
}

@media(max-width: 1224px){
    .container{
        display: block;
        position: relative;
        height: 100%;
        width: fit-content;
        margin-top: 1px;
        background: #222;
        border-radius: 0;
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: none;
        padding: 5%;
        margin-top: 9%;
    }

    .madeBy{
        .download{
            margin-top: 10%;
        }
    }

    .modal_background{
        position: fixed;
        height: 100%;
        z-index: 1000;
    }

    .modal{
        position: absolute;
        height: 100px;
        width: 300px;
        left: 40px;
        justify-content: center;
        top: 5%;
    }
}




 
